{% extends "base.html" %}

{% block content %}

<div class="row mx-2">
    <h2 class="page-title">Tests</h2>
    <div class="btns">
        <button class="btn table-btn btn-margin"><a href="{{ url_for('releaseFeedback', test = tests[0].test_id) }}">Release Feedback</a></button>
    </div>
</div>

<div class="content-container">
    {% if tests %}
    <div class="table-full">
        <table id="unit-list" class="table table-hover table-striped table-list">
            <thead>
                <tr>
                    <th>Student Number</th>
                    <th>Grade</th>
                    <th>Mark</th>
                </tr>
            </thead>
            <tbody>
                {% for test in tests %}  
                <tr>
                    <td> {{ test.user_id }} </td>
                    {% if test.hasBeenMarked == True %}
                        <td>Grade</td>
                        <td style="padding-top:4px; padding-bottom:4px"> <button class="btn table-btn-navy btn-margin"><a href="{{ url_for('markingTest', test = test.test_id, studentNumber = test.user_id, questionNumber = 1) }}">Marked</a></button>  </td>
                    {% else %}
                        <td>Grade</td>
                        <td style="padding-top:4px; padding-bottom:4px"> <button class="btn table-btn btn-margin"><a href="{{ url_for('markingTest', test = test.test_id, studentNumber = test.user_id, questionNumber = 1) }}">Mark</a></button>  </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}    
</div>
{% endblock %}