{% extends "base.html" %}

{% block content %}

<div class="row mx-2">
    <h2 class="page-title">Marking: {{ t.body }}</h2>
    <div class="btns mt-4">
        {% if tests|length !=0 %}
            {% if tests[0][1].feedbackReleased == False %}
                <button id="release-feedback-btn" class="btn green-btn" data-toggle="modal" data-target="#release-feedback-modal">Release feedback</button>
            {% else %}
                <button class="btn navy-btn-static">Feedback has already released</button>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="content-container">
    {% if tests|length ==0%}
    <h4>No tests for marking</h4>
    {% endif %}
    {% if tests %}
    <div class="table-full">
        <table id="unit-list" class="table table-hover table-striped table-list">
            <thead>
                <tr>
                    <th>Last name</th>
                    <th>First name</th>
                    <th>Student Number</th>
                    <th>Grade</th>
                    <th>Mark</th>
                </tr>
            </thead>
            <tbody>
                {% for test in tests %}
                <tr>
                    <td>{{ test[0].LastName }}</td> 
                    <td>{{ test[0].firstName }}</td> 
                    <td>{{ test[1].user_id }}</td>
                    {% if test[1].hasBeenMarked == True %}
                        <td>{{ test[1].mark1 + test[1].mark2 + test[1].mark3 + test[1].mark4 }}</td>
                        <td style="padding-top:4px; padding-bottom:4px">
                            <a href="{{ url_for('markingTest', test = test[1].test_id, studentNumber = test[1].user_id, questionNumber = 1) }}"><button class="btn table-btn-navy btn-margin">Marked/Update</button></a> 
                        </td>
                    {% elif test[1].testWasStarted == False %}
                        <td>-</td>
                        <td style="padding-top:4px; padding-bottom:4px"> 
                            <a href="{{ url_for('markingTest', test = test[1].test_id, studentNumber = test[1].user_id, questionNumber = 1) }}"><button class="btn table-btn-grey btn-margin">Not attempted</button></a>  
                        </td>
                    {% else %}
                        <td>-</td>
                        <td style="padding-top:4px; padding-bottom:4px"> 
                            <a href="{{ url_for('markingTest', test = test[1].test_id, studentNumber = test[1].user_id, questionNumber = 1) }}"><button class="btn table-btn btn-margin">Mark</button></a>  
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}    
</div>

<!-- Modal for release feedback -->
<div id="release-feedback-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div id="release-feedback-modal-content" class="modal-content">
            <h3 class="modal-title">Release feedback</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <p>Are you sure you want to release feedback? All students will be able to see their task results and feedback.</p>
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    
                    <div class="row justify-content-center">
                        <button type="button" class="btn green-btn btn-margin" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">Cancel</span>
                        </button>
                        {{ form.submit(class="btn green-btn") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}