{% extends "base.html" %}
{% block content %}
    {% block javascript %}
        <script>
        navigator.mediaDevices.getUserMedia({ audio: true })
        .then(function(stream) {
            console.log('You let me use your mic!')
        })
        .catch(function(err) {
            console.log('No mic for you!')
        });

        window.onload = function () {
            
            var seconds = 00; 
            var tens = 00;
            var minutes = 0; 
            var appendTens = document.getElementById("tens")
            var appendSeconds = document.getElementById("seconds")
            var appendMinutes = document.getElementById("minutes")
            var buttonStart = document.getElementById('recordButton');
            var buttonStop = document.getElementById('pauseButton');
            var buttonReset = document.getElementById('stopButton');
            var Interval ;

            buttonStart.onclick = function() {
                
                clearInterval(Interval);
                Interval = setInterval(startTimer, 10);
            }
            
            buttonStop.onclick = function() {
                if(document.getElementById("pauseButton").innerHTML == "Pause"){
                    clearInterval(Interval);
                    Interval = setInterval(startTimer, 10);
                }
                else{
                    clearInterval(Interval);
                }
            }

            buttonReset.onclick = function() {
                clearInterval(Interval);
                tens = "00";
                seconds = "00";
                minutes = "0";
                appendTens.innerHTML = tens;
                appendSeconds.innerHTML = seconds;
                appendMinutes.innerHTML = minutes;
            }
            
            function startTimer () {
                tens++; 
                
                if(tens < 9){
                appendTens.innerHTML = "0" + tens;
                }
                
                if (tens > 9){
                appendTens.innerHTML = tens;
                
                } 
                
                if (tens > 99) {
                seconds++;
                appendSeconds.innerHTML = "0" + seconds;
                tens = 0;
                appendTens.innerHTML = "0" + 0;
                }
                
                if (seconds > 9){
                appendSeconds.innerHTML = seconds;
                }
                if (seconds > 59){
                minutes++;
                appendMinutes.innerHTML = minutes;
                seconds = 0;
                appendSeconds.innerHTML = "0" + 0;
                }
            
            }

        }
        </script>
    {% endblock %}

<div id="fade"></div>
<div id="modal">
    <img id="loader" src="{{ url_for('static', filename='img/loading.gif') }}" />
</div>


<div class="row mx-2">
    <h2 class="page-title"> {{ tests.body }} </h2>
    <div class="btns mt-4">
        <button id="submit-task-btn" class="btn green-btn" data-toggle="modal" data-target="#submit-task-modal">Submit task</button>
    </div>
</div>

<div class="content-container">
    <div class="row h-100">
        <div class="question-nav">
            <ul class="nav nav-pills">
                {% if questionNumber|int() != 1 %}
                    <li><a href="{{ url_for('testQuestion',test = test, studentNumber = user.id, questionNumber = questionNumber) }}" class="vertical-text"><i class="fas fa-long-arrow-alt-up"></i>&nbsp;Prev</a></li>
                {% else %}
                    <li class="vertical-text invisible"><i class="fas fa-long-arrow-alt-up"></i>&nbsp;Prev</a></li>
                {% endif %}
                {% for question in range(numbOfQuestions)%}
                    {% if (question+1)|int() == questionNumber|int() %}
                    <li class="nav-item active">
                        <a href="{{ url_for('testQuestion',test = test, studentNumber = user.id, questionNumber = (question+1)) }}">{{(question+1)}}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{{ url_for('testQuestion',test = test, studentNumber = user.id, questionNumber = (question+1)) }}">{{(question+1)}}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                {% if questionNumber|int() < numbOfQuestions %}  
                    <li><a href="{{ url_for('testQuestion',test = test, studentNumber = user.id, questionNumber = questionNumber) }}" class="vertical-text text-margin">Next&nbsp;<i class="fas fa-long-arrow-alt-down"></i></a></li>
                {% else %}
                    <li class="vertical-text invisible">Next&nbsp;<i class="fas fa-long-arrow-alt-down"></i></a></li>
                {% endif %}
              </ul>
        </div>

        <div style="width: 42%; position:relative">
            <h3 class="question-heading"><span class="line">|</span>Question {{ questionNumber }}</h3>
            <div class="question">
                <p>{{ question.body }}</p>
                {% if(question.path != "empty") %}
                    <audio src={{question.path}} id= "player" controls="controls"></audio>
                {% endif %}
            </div>
            <div class="btns-bottom">
                <form action="" method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    {% if(questionNumber | int != numbOfQuestions | int) %}
                        {{ form.submit(class="btn green-btn") }}
                    {% endif %}

                    <!-- Submit task modal -->
                    <div id="submit-task-modal" class="modal fade" style="position:fixed" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div id="submit-task-modal-content" class="modal-content text-center">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <p>Are you sure you want to finish and submit this task?</p>
                                <div class="row justify-content-center">
                                    <button type="button" class="btn green-btn btn-margin" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">Cancel</span>
                                    </button>
                                    <button type="submit" class="submit btn green-btn btn-margin" role="button">Submit</button>
                                    <!-- this will be form 'delete' button -->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            

                {% if(questionNumber | int == numbOfQuestions | int) %}
                    <button id="submit-task-btn" class="btn green-btn" data-toggle="modal" data-target="#submit-task-modal">Submit task</button>
                {% endif %}
            </div>      
        </div>

        <div class="justify-content-center text-center" style="width: 50%;">
            <h3 class="question-heading">Your Answer:</h3>
            <div class="audio-recorder">
                <div id="controls">
                    <button id="recordButton" class="btn green-btn">Record</button>
                    <button id="pauseButton" disabled class="btn green-btn">Pause</button>
                    <button id="stopButton" disabled class="btn green-btn">Stop</button>
                </div>

                <p class="stopwatch mt-3 mb-0"><span id="minutes">00</span>:<span id="seconds">00</span>:<span id="tens">00</span></p>
                <p class="audio-warning">Please note, re-recording will overwrite your previous recording.</p>
                <!-- <p>Record duration is limited: 1.5m</p> -->
                <div id="formats">Not recording</div>

                <audio src={{path}} id= "player" controls="controls"></audio>
            </div>
        <!--<p><strong>Recordings:</strong></p>
        <ol id="recordingsList"></ol>-->
        <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
        

        

        
        <!--<a href="{{ url_for('testQuestion',test = test, studentNumber = user.id, questionNumber = 1)  }}">Next Question</a></h3>-->
        </div>
    </div>
    </div>
</div>


{% endblock %}