<html>
    <head>
        {% if title %}
        <title>{{ title }} - Oral Testing App</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
    </head>
    <body>
      <div>
        Oral Testing App
        
        {% if current_user.is_authenticated %}
        {% if current_user.isTeacher == False %}
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        {% if current_user.unit_id == None %}
            <a href="{{ url_for('enrolment') }}">Enrolment</a>
        {% endif %}
        {% endif %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        {% if current_user.isTeacher == True %}
        <a href="{{ url_for('unitManager') }}">Manage Units</a>
        {% endif %}
    </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>