{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.firstName }}!</h1>
    <h2>You are enrolled in, {{ current_user.unit_id }}!</h2>
    <h3>Active Tests</h3>
    {%for test in tests %}
        {% if testFB[loop.index0].testWasStarted == False %}
            <a href="{{ url_for('attempt',test = testFB[loop.index0].test_id, studentNumber = user.id)  }}">{{ test.body }}</a><p>Due Date: {{ test.due_date}} {{ test.due_time}}</p><br>
        {% endif %}
    {%endfor%}
    <hr>
    <h3>Feedback</h3>
    {%for test in tests %}
        {% if testFB[loop.index0].feedbackReleased == True %}
            <a href="{{ url_for('viewFeedback',test = testFB[loop.index0].test_id, studentNumber = user.id)  }}">{{ test.body }}</a><br>
        {% endif %}
    {%endfor%}
    <hr>
{% endblock %}