{% extends "base.html" %}

{% block content %}

<div class="row mx-2">
    <h2 class="page-title"> {{ current_user.unit_id }}: {{ unit.description }} </h2>
</div>

<div class="content-container">
    <h3 class="subheading">Active Tasks</h3>
    <div class="table-half">
        <table id="task-list" class="table table-hover table-striped table-list">
            <thead>
                <tr>
                    <th>Task name</th>
                    <th>Deadline</th>
                    <th>Take test</th>
                </tr>
            </thead>
            <tbody>
                {% for test in tests%}
                {% if testFB[loop.index0].testWasStarted == False %}
                <tr>
                    <td>{{ test.body }}</td>
                    <td>{{ test.due_date}} {{ test.due_time}}</a></td>
                    <td style="padding-top:4px; padding-bottom: 4px;"><button class="btn table-btn"><a href="{{ url_for('attempt',test = testFB[loop.index0].test_id, studentNumber = user.id)  }}">Start task</a></button></td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h3 class="subheading">Completed Tasks</h3>
    <div class="table-half">
        <table id="task-list" class="table table-hover table-striped table-list">
            <thead>
                <tr>
                    <th>Task name</th>
                    <th>View feedback</th>
                </tr>
            </thead>
            <tbody>
                {% for test in tests %}
                {% if testFB[loop.index0].testWasStarted == True %}
                <tr>
                    <td>{{ test.body }}</td>
                    {% if testFB[loop.index0].feedbackReleased == True %}
                        <td class="td-btns" style="padding-top:4px; padding-bottom:4px"> 
                            <button class="btn table-btn"><a href="{{ url_for('viewFeedback',test = testFB[loop.index0].test_id, studentNumber = user.id, questionNumber=1)  }}">View</a></button>
                        </td>
                    {% else %}
                        <td>No feedback currently available</td>
                    {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}