{% extends "base.html" %}
{% block content %}
    <div id="fade"></div>
    <div id="modal">
        <img id="loader" src="{{ url_for('static', filename='img/loading.gif') }}" />
    </div>  
    {% if submissionInTime == False %}
        <h4>WARNING TEST WAS SUBMITTED PAST DEADLINE</h4>
    {% endif%}
    <h3>{{question.body}}</h3>
    <h4>{{answerToQuestion.body}}</h4>
    <audio src={{answerToQuestion.body}} id= "player" controls="controls" autoplay="autoplay"></audio>
    {% if answerToQuestion.body == Null %}
        <h4>Question Unnatempted</h4>
    {% endif%}
    <div id="controls">
        <button id="recordButton">Record</button>
        <button id="pauseButton" disabled>Pause</button>
        <button id="stopButton" disabled>Stop</button>
       </div>
       <div id="formats">Format: start recording to see sample rate</div>
       <p><strong>Recordings:</strong></p>
       <ol id="recordingsList"></ol>
       <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.body.label }}<br>
            {{ form.body(size=32) }}<br>
            {% for error in form.body.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <h5>Questions: {{questionNumber}}</h5>
    <!--<a href="{{ url_for('testQuestion',test = test, studentNumber = user.id, questionNumber = 1)  }}">Next Question</a></h3>-->
{% endblock %}