{% extends "base.html" %}
{% block javascript %}
<script>
    // Run on page load
    window.onload = function() {

        // If sessionStorage is storing default values (ex. name), exit the function and do not restore data
        if (sessionStorage.getItem('name') == "name") {
            return;
        }

        // If values are not blank, restore them to the fields
        var name = sessionStorage.getItem('name');
        if (name !== null) $('#inputName').val(name);
    }

    // Before refreshing the page, save the form data to sessionStorage
    window.onbeforeunload = function() {
        sessionStorage.setItem("name", $('#inputName').val());
    }
</script>
{% endblock %}
{% block content %}
    <div id="fade"></div>
    <div id="modal">
        <img id="loader" src="{{ url_for('static', filename='img/loading.gif') }}" />
    </div>  
    
<div class="content-container">

    <div class="row h-100">
        <div class="question-nav">
            <ul class="nav nav-pills">
                {% if questionNumber != 0 %}
                    <li><a href="{{ url_for('markingTest', test = test.test_id, studentNumber = test.user_id, questionNumber = questionNumber) }}" class="vertical-text"><i class="fas fa-long-arrow-alt-up"></i>Prev</a></li>
                {% endif %}
                {% for question in range(questions|length)%}
                    {% if questionNumber == question %}
                    <li class="nav-item active">
                        <a href="{{ url_for('markingTest', test = test.test_id, studentNumber = test.user_id, questionNumber = question+1) }}">{{(question+1)}}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{{ url_for('markingTest', test = test.test_id, studentNumber = test.user_id, questionNumber = question+1) }}">{{(question+1)}}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                {% if questionNumber+1 < questions|length %}   
                    <li><a href="{{ url_for('markingTest', test = test.test_id, studentNumber = test.user_id, questionNumber = questionNumber+2) }}" class="vertical-text">Next<i class="fas fa-long-arrow-alt-down"></i></a></li>
                {% endif %}
            </ul>
        </div>

            
        <div class="col-sm-5 row-fit" style="position:relative">
            
            <h3 class="question-heading"><span class="line">|</span>Question {{ questionNumber }}</h3>
            <div class="question">
                <p>{{ question.body }}</p>
                {% if(question.path != "empty") %}
                    <audio src={{question.path}} id= "player" controls="controls"></audio>
                {% endif %}
                {% if answerToQuestion.body != "empty" %}
                    <h3 class="question-heading mt-3">Student answer</h3>
                    <audio src={{answerToQuestion.body}} id= "player" controls="controls"></audio>
                {# endif #}  
                {# if answerToQuestion.body == "empty" #}
                {% else %}
                    <h4>Question Unattempted</h4>
                {% endif%} 
            </div>
            
        </div>

        <div class="col-sm-6 justify-content-center text-center" style="position:relative">
            <h3 class="question-heading">Audio Feedback:</h3>
            <div class="audio-recorder">
                <div id="controls">
                    <button id="recordButton">Record</button>
                    <button id="pauseButton" disabled>Pause</button>
                    <button id="stopButton" disabled>Stop</button>
                </div>
                <audio src={{path}} id= "player" controls="controls" ></audio>
                <div id="formats">Not Recording</div>
            </div>
            <h3 class="question-heading mt-5">Written feedback:</h3>
            <form action="" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                    {{ form.body(size=32) }}
                    {% for error in form.body.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                <div class="btns-bottom" style="right:0px">
                    {# questionNumber+1 #}
                    {# questions|length #}
                        {{ form.submit(class="btn green-btn") }}
                    
                </div>
            </form>
        </div>
    </div>

</div>
   
    <!--{% if test.hasBeenMarked == True %}
        <h4>HAS BEEN MARKED</h4>
        {% if storedAudio != "empty" %}
        <h4>Current Feedback:</h4>
        <audio src={{storedAudio}} id= "player" controls="controls"></audio>
        {% endif%}  
        {% if answerToQuestion.body == "empty" %}
            <h4>No feedback Left</h4>
        {% endif%} 
        <p>{{storedText}}</p>
    {% endif%} -->

       <!--<p><strong>Recordings:</strong></p>
       <ol id="recordingsList"></ol>-->
       <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    


    

    </div>
</div>

    <!--<a href="{{ url_for('testQuestion',test = test, studentNumber = user.id, questionNumber = 1)  }}">Next Question</a></h3>-->
{% endblock %}