{% extends "login-base.html" %}

{% block content %}
<div class="text-center">
    <h1>SIGN IN</h1>
</div>

<div class="row justify-content-center login-items">   
    <!-- Invalid username or password message-->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <p class="login-error"> {{ messages[0] }} </p>
    {% endif %}
    {% endwith %}  

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group mt-5 mb-5"> 
            {{ form.email(class_="form-control", size=32) }}
            {{ form.email.label(class_="floating-label") }}
            {% for error in form.email.errors %}
            <span class="error">*{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group mb-5">
            {{ form.password(class_="form-control", size=32) }}
            {{ form.password.label(class_="floating-label") }}
            <p id="forgot-password"><a href="{{ url_for('reset_password_request') }}">Forgot your password?</a></p>
        {% for error in form.password.errors %}
            <span class="error">*{{ error }}</span>
            {% endfor %}
            
        </div>
        
        <div class="text-center">
            {{ form.submit(class="login-btn") }}
            <div class="row justify-content-center remember-me">
                {{ form.remember_me() }} &nbsp;
                {{ form.remember_me.label }}
            </div>
        </div>

    </form>
    <p id="sign-up">
        Don't have an account? <a href="{{ url_for('register') }}">Click here to register!</a>
    </p>
</div>
</div>

</div>

{% endblock %}

