{% extends "login-base.html" %}

{% block content %}
<div class="text-center">
    <h1>Reset Password</h1>
</div>

<div class="row justify-content-center reset-pass-items"> 
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <p class="login-error-long"> {{ messages[0] }} </p>
    {% endif %}
    {% endwith %}  

    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="form-group mb-5">
        {% else %}
            <div class="form-group mt-5 mb-5">
        {% endif %}
        {% endwith %}  
                {{ form.email(class_="form-control", size=64) }}
                {{ form.email.label(class_="floating-label") }}
                {% for error in form.email.errors %}
                <span class="error">*{{ error }}</span>
                {% endfor %}
            </div>

        <div class="text-center">
            {{ form.submit(class="btn green-btn") }}
        </div>
    </form>
    <p id="know-password">
        Know your password? <a href="{{ url_for('login') }}">Click here to login!</a>
    </p>
</div> 

    
{% endblock %}