{% extends "login-base.html" %}

{% block content %}
<div class="text-center">
    <h1>Reset Password</h1>
</div>

<div class="row justify-content-center reset-pass-items"> 
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group mt-3">
            {{ form.password(class_="form-control", size=32) }}
            {{ form.password.label(class_="floating-label") }}
            {% for error in form.password.errors %}
            <span class="error">*{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group mt-5 mb-5">
            {{ form.password2(class_="form-control", size=32) }}
            {{ form.password2.label(class_="floating-label") }}
            {% for error in form.password2.errors %}
            <span class="error">*{{ error }}</span>
            {% endfor %}
        </div>

        <div class="text-center">
            {{ form.submit(class="btn green-btn") }}
        </div>
    </form>
</div> 

    
{% endblock %}