{% extends "base.html" %}

{% block content %}
{% block javascript %}
        <script>
        navigator.mediaDevices.getUserMedia({ audio: true })
        .then(function(stream) {
            console.log('You let me use your mic!')
        })
        .catch(function(err) {
            console.log('No mic for you!')
        });
        </script>
    {% endblock %}

<h2 class="page-title">{{ unit.description }} / {{ t.body }}</h2>
<div class="row btns mx-2">
    <button id="rename-task-btn" class="btn green-btn btn-margin" data-toggle="modal" data-target="#rename-task-modal">Rename</button>
    <button id="save-task-btn" class="btn green-btn btn-margin"><a href="{{ url_for('unitpage', unitpage = unit.name) }}">Save & exit</a></button>
    <!-- <button id="make-available-btn" class="btn green-btn" data-toggle="modal" data-target="#make-available-modal">Make available</button> -->

</div>

<div class="content-container">
    <h3 class="subheading">Questions</h3>
    {%for question in questions %}  
        <b>Q{{ loop.index }}:</b> {{ question.body }}
        <br>
        {% if(question.path)!="empty"%}
            <audio src={{question.path}} id= "player" controls="controls"></audio>
        {% endif %}
        <br>
    {%endfor%}
    <br>
    <div id="fade"></div>
    <div id="modal">
        <img id="loader" src="{{ url_for('static', filename='img/loading.gif') }}" />
    </div>
    <h3 class="subheading">Ask Question</h3><br>
    <div id="controls">
        <button id="recordButton">Record</button>
        <button id="pauseButton" disabled>Pause</button>
        <button id="stopButton" disabled>Stop</button>
    </div>
    <div id="formats">Format: start recording to see sample rate</div>
    <p><strong>Recordings:</strong></p>
    <ol id="recordingsList2"></ol>
    <audio src={{path}} id= "player" controls="controls"></audio>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name(class_="form-control", size=150, style="resize: none;") }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class_="btn green-btn") }}</p>
    </form>
    <!-- <a href= "{{ url_for('testCreated', test= test)  }}">Finalize Test</a> -->
    
</div>




{% endblock %}