{% extends "base.html" %}

{% block content %}

<div class="row mx-2">
    <h2 class="page-title">{{ unit.description }} / {{ t.body }}</h2>
    <div class="btns">
        <!-- <button id="add-unit-btn" class="btn green-btn" data-toggle="modal" data-target="#add-unit-modal">New unit <i class="fas fa-plus"></i></button> -->
    </div>
</div>

<div class="content-container">
    <h3 class="subheading">Questions</h3>
    {%for question in questions %}  
        <b>Q{{ loop.index }}:</b> {{ question.body }}
        <br>
    {%endfor%}
    <br>


    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=150) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <!-- <a href= "{{ url_for('testCreated', test= test)  }}">Finalize Test</a> -->
    
</div>




{% endblock %}