{% extends "base.html" %}
{% block content %}
    <h2>You are about to start {{ test.body }}!</h2>
    <p>The test will have to be completed in one sitting.</p>
    <p>You may listen to the question recording as many times as you wish. To answer the question, press Record and press Stop to save your answer.</p>
    <p> You may record your answer as many times as you wish, 
        <b> but only your last recording will be saved.</b></p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}