{% extends "base.html" %}

{% block content %}
{% block javascript %}
    <script>
    navigator.mediaDevices.getUserMedia({ audio: true })
    .then(function(stream) {
        console.log('You let me use your mic!')
    })
    .catch(function(err) {
        console.log('No mic for you!')
    });
    </script>

<script>
    // Run on page load
    window.onload = function() {

        // If sessionStorage is storing default values (ex. name), exit the function and do not restore data
        if (sessionStorage.getItem('name') == "name") {
            return;
        }

        // If values are not blank, restore them to the fields
        var name = sessionStorage.getItem('name');
        if (name !== null) $('#inputName').val(name);
    }

    // Before refreshing the page, save the form data to sessionStorage
    window.onbeforeunload = function() {
        sessionStorage.setItem("name", $('#inputName').val());
    }
</script>
{% endblock %}
<h2 class="page-title">{{ unit.description }} / {{ t.body }}</h2>
<div class="row btns mx-2">
    <button id="rename-task-btn" class="btn green-btn btn-margin" data-toggle="modal" data-target="#rename-task-modal">Rename task</button>
    <button id="save-task-btn" class="btn green-btn btn-margin"><a href="{{ url_for('unitpage', unitpage = unit.name) }}">Save & exit</a></button>
    <!-- <button id="make-available-btn" class="btn green-btn" data-toggle="modal" data-target="#make-available-modal">Make available</button> -->

</div>

<div class="content-container">
    <h3 class="subheading">Questions</h3>
    {%for question in questions %}  
        <b>Q{{ loop.index }}:</b> {{ question.body }}
        <br>
        {% if(question.path)!="empty"%}
            <audio src={{question.path}} id= "player" controls="controls"></audio>
        {% endif %}
        <br>
    {%endfor%}
    <br>
    <div id="fade"></div>
    <div id="modal">
        <img id="loader" style="padding: 0px 0px 0px !important; border: 0px solid #ababab !important;" src="{{ url_for('static', filename='img/loading.gif') }}" />
    </div>
    <div style="background-color:#1A9E8A; width:fit-content">
        <h3 class="subheading">Your Question</h3><br>
        <audio src={{path}} id= "player" controls="controls"></audio>
        <div id="controls">
            <button id="recordButton">Record</button>
            <button id="pauseButton" disabled>Pause</button>
            <button id="stopButton" disabled>Stop</button>
        </div>
    
        <div id="formats">Not Recording</div>
    </div>
    <!--<p><strong>Recordings:</strong></p>
    <ol id="recordingsList2"></ol>-->
    
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name(class_="form-control",id="inputName", size=150, style="resize: none;") }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class_="btn green-btn") }}</p>
    </form>
    <!-- <a href= "{{ url_for('testCreated', test= test)  }}">Finalize Test</a> -->
    
</div>

<!-- Modal for rename task -->
<div id="rename-task-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div id="rename-task-modal-content" class="modal-content">
            <h3 class="modal-title">Rename task</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <form action="" method="post" novalidate>
                    {{ renameForm.hidden_tag() }}
                    <div class="form-group mb-5">
                        {{  renameForm.newTestName.label(class_="form-label", placeholder="New task name") }}
                        {{  renameForm.newTestName(class_="form-control form-styling") }}
                    </div>
                    {% for error in form.name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    <div class="row justify-content-center">
                        <button type="button" class="btn green-btn btn-margin" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">Cancel</span>
                        </button>
                        {{ renameForm.submitRename(class="btn green-btn") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}