{% extends "base.html" %}

{% block content %}
{# with messages = get_flashed_messages() #}
    {# if messages #}
        <!-- <span class="error"> {# messages[0] #} </span> -->
    {# endif #}
{# endwith #}
<div class="row mx-2">
    <h2 class="page-title">Units</h2>
    <div class="btns">
        <buttin id="reset-database-btn" class="btn green-btn btn-margin" data-toggle="modal" data-target="#reset-database-modal">Reset database</buttin>
        <button id="add-unit-btn" class="btn green-btn" data-toggle="modal" data-target="#add-unit-modal">New unit <i class="fas fa-plus"></i></button>
    </div>
</div>

<div class="content-container">
    {% if units %}
    <div class="table-full">
        <table id="unit-list" class="table table-hover table-striped table-list">
            <thead>
                <tr>
                    <th>Unit Code</th>
                    <th>Unit Name</th>
                    <th style="width:180px;">Delete?</th>
                </tr>
            </thead>
            <tbody>
                {% for unit in units %}  
                <tr>
                    <td><a href="{{ url_for('unitpage',unitpage = unit.name)  }}">{{ unit.name }}</a></td>
                    <td><a href="{{ url_for('unitpage',unitpage = unit.name)  }}">{{ unit.description }}</a></td>
                    <td style="width:180px;"><button id="detele-task-btn{{unit.id}}" class="btn table-btn" data-toggle="modal" data-target="#delete-task-modal{{unit.id}}">Delete</button></td>
                    <div id="delete-task-modal{{unit.id}}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div id="delete-task-modal-content" class="modal-content text-center">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                    <p>Are you sure you want to delete the unit:'{{ unit.name }}?</p>
                                    
                                        <div class="row justify-content-center">
                                            <button type="button" class="btn green-btn btn-margin" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">Cancel</span>
                                            </button>
                                            <a href="{{ url_for('deleteUnit', unitpage = unit.name) }}" class="submit btn green-btn btn-margin" role="button">Delete task</a>
                                            <!-- this will be form 'delete' button -->
                                            {# form.submit(class="btn green-btn") #}
                            
                                        
                                    <!-- </form> -->
                                        </div>
                            </div>
                        </div>
                    </div>

                </tr>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="center">
        <h3 class="information">There are currently no units created</h3>
    </div>
    {% endif %}
</div>

<!-- Modal for new unit -->
<div id="add-unit-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div id="add-unit-modal-content" class="modal-content">
            <h3 class="modal-title">Create a Unit</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="w-50-l">
                            <div class="form-group mb-5">
                                {{ form.name.label(class_="form-label") }}
                                {{ form.name(class_="form-control form-styling", size=32, placeholder="e.g. KORE1401") }}
                                {% for error in form.name.errors %}
                                    <span class="error">*{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group mb-5">
                                {{ form.description.label(class_="form-label") }}
                                {{ form.description(class_="form-control form-styling", size=64, placeholder="e.g. Korean 1") }}
                                {% for error in form.description.errors %}
                                    <span class="error">*{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="w-50-r">
                            <div class="form-group mb-5">
                                {{ form.mark1Criteria.label(class_="form-label") }}
                                {{ form.mark1Criteria(class_="form-control form-styling", size=64, placeholder="e.g. Accuracy") }}
                                {% for error in form.mark1Criteria.errors %}
                                    <span class="error">*{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group mb-5">
                                {{ form.mark2Criteria.label(class_="form-label") }}
                                {{ form.mark2Criteria(class_="form-control form-styling", size=64, placeholder="e.g. Fluency") }}
                                {% for error in form.mark2Criteria.errors %}
                                    <span class="error">*{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group mb-5">
                                {{ form.mark3Criteria.label(class_="form-label") }}
                                {{ form.mark3Criteria(class_="form-control form-styling", size=64, placeholder="e.g. Grammar") }}
                                {% for error in form.mark3Criteria.errors %}
                                    <span class="error">*{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                {{ form.mark4Criteria.label(class_="form-label") }}
                                {{ form.mark4Criteria(class_="form-control form-styling", size=64, placeholder="e.g. Vocabulary") }}
                                {% for error in form.mark4Criteria.errors %}
                                    <span class="error">*{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        {{ form.submit(class="btn green-btn") }}
                    </div>
                    {% if form.errors %}
                    <script>
                        $(document).ready(function() {
                            $('#add-unit-modal').modal('show');
                        });
                    </script>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <a href="">Database Cleanup</a></h3>
<p>This button cleans up database for new semester. It will delete all student accounts, delete unit pages and clean up stored recordings</p> -->
<div id="reset-database-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div id="reset-database-modal-content" class="modal-content">
            <h3 class="modal-title">Clean the database</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <form action="" method="post">
                    {{ formReset.hidden_tag() }}
                    <div class="form-group mb-5">
                        {{ formReset.passwordResetter.label(class_="form-label") }}
                        {{ formReset.passwordResetter(class_="form-control form-styling", size=32) }}
                        {% for error in formReset.passwordResetter.errors %}
                            <span class="error">*{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="text-center">
                        {{ formReset.submit(class="btn green-btn") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}