{% extends "base.html" %}
{% block content %}
    <h3>Feedback for the test</h3>
    <p>{{unit.mark1Criteria}}: {{testMarks.mark1}}</p>
    <p>{{unit.mark2Criteria}}: {{testMarks.mark2}}</p>
    <p>{{unit.mark3Criteria}}: {{testMarks.mark3}}</p>
    <p>{{unit.mark4Criteria}}: {{testMarks.mark4}}</p>
    <p>Total: {{testMarks.mark1+testMarks.mark2+ testMarks.mark3+testMarks.mark4}}</p> 
    {% if questionNumber != 1 %}
        <a href="{{ url_for('viewFeedback',test = testPassed, studentNumber = user.id, questionNumber=questionNumber-1)  }}">arrowLeft</a>
    {% endif %}
    {% for question in range(questions|length)%}
        {% if questionNumber == question+1 %}
            <a href="{{ url_for('viewFeedback',test = testPassed, studentNumber = user.id, questionNumber=question+1)  }}" style="color:blue;">{{(question+1)}}</a>
        {% else %}
            <a href="{{ url_for('viewFeedback',test = testPassed, studentNumber = user.id, questionNumber=question+1)  }}">{{(question+1)}}</a>
        {% endif %}
    {% endfor %}
    {% if questionNumber < questions|length %}   
        <a href="{{ url_for('viewFeedback',test = testPassed, studentNumber = user.id, questionNumber=questionNumber+1)  }}">arrowRight</a>
    {% endif %}
    <h4>{{ questions[questionNumber-1].body }}</h4>
    {% if questions[questionNumber-1].path != "empty" %}
        <audio src={{questions[questionNumber-1].path}} id= "player" controls="controls"></audio><br>
    {% endif %}
    <h4>Answer:</h4>
    {% if answers[0].body != "empty" %}
        <audio src={{answers[0].body}} id= "player" controls="controls"></audio>
    {% else %}
        <p>Question unattempted</p>
    {% endif %}

    <h4>Feedback:</h4>
    <h5>{{ feedbacks[0].body}}</h5>
    {% if feedbacks[0].path != "empty" %}
        <audio src={{feedbacks[0].path}} id= "player" controls="controls"></audio>
    {% endif %}

    {% if answers[0].body == "empty" %}
        <div id="plot" style="width:500px;height:500px; display:none"></div>
    {% endif%}

    {% if answers[0].body != "empty" %}
        <div id="plot" style="width:500px;height:500px"></div>
    {% endif%}

    {% if feedbacks[0].path == "empty" %}
        <div id="plot2" style="width:500px;height:500px; display: none;"></div>
    {% endif%}

    {% if feedbacks[0].path != "empty" %}
        <div id="plot2" style="width:500px;height:500px;"></div>
    {% endif%}
    <hr>

    {% block javascript %}
        <script type="text/javascript">
                data = JSON.parse({{ data | tojson }})
                data2 = JSON.parse({{ data2 | tojson }})
                Plotly.newPlot("plot", [{ x: [...Array(data.length).keys()],
                    y: data.map(function(data) { return data == 0.0 ? undefined : data; }),
                    type: "scatter" }]);
                Plotly.newPlot("plot2", 
                                        [{ x: [...Array(data2.length).keys()],y: data2.map(function(data2) { return data2 == 0.0 ? undefined : data2; }),
                                            type: "scatter"}],{title: 'Feedback Pitch'}
                                );
        </script>
    {% endblock %}
    {% if questionNumber != 1 %}
        <a href="{{ url_for('viewFeedback',test = testPassed, studentNumber = user.id, questionNumber=questionNumber-1)  }}">arrowLeft</a>
    {% endif %}
    {% for question in range(questions|length)%}
        {% if questionNumber == question+1 %}
            <a href="{{ url_for('viewFeedback',test = testPassed, studentNumber = user.id, questionNumber=question+1)  }}" style="color:blue;">{{(question+1)}}</a>
        {% else %}
            <a href="{{ url_for('viewFeedback',test = testPassed, studentNumber = user.id, questionNumber=question+1)  }}">{{(question+1)}}</a>
        {% endif %}
    {% endfor %}
{% endblock %}