:root {
    --testapp-main-text: #5B595F;
    --testapp-dark-navy: #3E4F5A; /* sidenav */
    --testapp-navy: #496C7F;
    --testapp-green: #1EB69E;
    --testapp-light-green: #7EDDC3;
    --testapp-light-grey: #EBEBEB; /* background */
    --testapp-grey: #8F8F8F;
}
  
html, body {
    height: 100%;
    font-family: 'Mulish', sans-serif;
    color: var(--testapp-main-text);
    background-color: var(--testapp-light-grey);
}

/* Text */
.website-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    font-family: 'Mulish', sans-serif;
}

.page-title {
    /* color: #000000; */
    font-size: 20px;
    line-height: 25px;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}

.page-title:after {
    content: ""; 
    display: block; 
    width: 50px; 
    padding-top: 5px;
    border-bottom: 2px solid var(--testapp-green);
}

.subheading {
    color: #000000;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 30px 0 0 10px;
}

.subheading:first-child {
    margin: 10px 0 0 10px;
}

.subheading:after {
    content: ""; 
    display: block; 
    width: 100px; 
    padding-top: 5px;
    border-bottom: 2px solid var(--testapp-green);
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: var(--testapp-green);
}

.fas {
    margin-left: 7px;
}

/* Sidenav */
.sidenav {
	height: 100%;
    width: 270px;
    min-width: 270px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
    padding: 20px 20px 0px 30px;
    background-color: var(--testapp-dark-navy);
}

.sidenav a {
	text-decoration: none;
    line-height: 19px;
    font-family: 'DM Sans', sans-serif;
    color: #FFFFFF;
    display: block;
    padding: 0px;
}

.sidenav a:hover {
	color: var(--testapp-light-green);
}

.nav-parent {
	padding-top: 50px;
	letter-spacing: 2px;
	text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

.nav-parent:first-of-type {
    margin-top: 10px;
}

.nav-child {
    padding-top: 20px;
    margin-left: 7px;
    letter-spacing: 1px;
    font-size: 15px;
}

.nav-icon {
    float: right;
    font-size: 12px;
}

/* Topbar */
.topbar, .student-topbar {
    top: 0;
    background-color: #FFFFFF;
    /* margin-left: 270px; */
    height: 60px;
    overflow: hidden;
    display: block;
    /* padding-right: 270px; */
    position: fixed;
    width: 100%;
}

.topbar {
    margin-left: 270px;
    padding-right: 270px;
}

.student-topbar {
    text-align: right;
}

.username {
    text-align: right;
    margin-right: 20px;
	font-size: 16px;
	line-height: 60px;
}

/* Main page / content */
.main, .student-main {
    height: 100%;
    padding: 100px 60px 60px 60px;
    /* overflow: hidden; */
}

.main {
    margin-left: 270px;
}

.content-container {
    border-radius: 15px;
    background-color: #FFFFFF;
    width: 95%;
    height: 88%;
    /* margin-left: 25px; */
    margin: 0 auto;
    margin-top: 45px;
    padding: 30px 30px;
    overflow-y: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'DM Sans', sans-serif;
}

/* Table styling */
.table-full {
    height: 95%;
    padding-top: 30px;
}

.table-half {
    height: 40%;
    padding-top: 20px;
}

.table-list {
    width: 95%;
    margin: 0 auto;
    display: block;
}
  
.table-list thead {
    position: relative;
    display: block;
    width: 100%;
}
  
.table-list tbody {
    display: block;
    position: relative;
    overflow-y: scroll;
    width: 100%;
    color: var(--testapp-main-text);
}
    
.table-list th, .table-list td,  .table-list tr {
    width: 100%;
    display: flex;
}

#unit-list tbody {
    height: 100%;
}

#task-list tbody {
    height: 100%;
    overflow-y: auto;
}

/* Buttons */
.btns {
    position: absolute;
    right: 60px;
    font-size: 14px;
}

.green-btn {
    background-color: var(--testapp-green);
    color: #FFFFFF;
    border-radius: 5px;
}

.green-btn:hover, .green-btn a:hover {
    background-color: #1A9E8A;
    color: #FFFFFF;
}

.table-btn, .table-btn-static {
    background-color: var(--testapp-green);
    color: #FFFFFF;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
}

.table-btn:hover, .table-btn a:hover {
    background-color: #1A9E8A;
    color: #FFFFFF;
}

.table-btn-static {
    background-color: var(--testapp-green);
    color: #FFFFFF;
    pointer-events: none;
}

.table-btn-navy {
    background-color: var(--testapp-navy);
    color: #FFFFFF;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
}

.table-btn-navy:hover, .table-btn-navy a:hover {
    background-color: #385463;
    color: #FFFFFF;
}

#manage-students-btn, #rename-task-btn, #save-task-btn {
    margin-right: 5px;
}

/* Modals */
.modal {
    position: absolute;
    z-index: 99999;   
}
  
.modal-content {
    width: 570px;
    height: 485px;
    border-radius: 16px;
    padding: 15px 15px; 
    margin: 0 auto;
}
  
.close {
    position: absolute; 
    right: 3%;
    padding: 5px 5px;
}
  
.modal-title {
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 15px 0 30px 0;
}

.modal-body {
    padding: 0 40px;
}

#add-unit-modal-content {
    height: 400px;
    width: 430px;
}

/* Forms */
.form-control {
    font-family: 'Ubuntu', sans-serif;
    border: none;
    border-bottom: 1.5px solid #8593A5;
    border-radius: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    position: relative;
    height: 45px;
    font-size: 15px;
    padding-bottom: 0px;
}

.form-control:active, .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom: 3px solid var(--testapp-green);
    background-color: var(--testapp-light-grey);
}

.floating-label {
    position: absolute;
    pointer-events: none;
    z-index: 99999;
    transform-origin: top left;
    transform: translate(15px,-30px);
    transition: 0.2s ease all;
    color: #495057;
    opacity: 0.9;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

input:focus + .floating-label,
input:not(:focus):valid + .floating-label {
    font-size: 12px;
    opacity: 1;
    transform: translate(10px,-46px);
    color: var(--testapp-green);
    font-weight: bold;
}

/* Not too sure was Vlad's stuff */
#fade {
    display: none;
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #ababab;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .70;
    filter: alpha(opacity=80);
}

#modal {
    display: none;
    position: absolute;
    top: 45%;
    left: 45%;
    width: 64px;
    height: 64px;
    padding:30px 15px 0px;
    border: 3px solid #ababab;
    box-shadow:1px 1px 10px #ababab;
    border-radius:20px;
    background-color: white;
    z-index: 1002;
    text-align:center;
    overflow: auto;
}